<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ActiveQueryBuilder.Core" version="3.5.12.1120" targetFramework="net40" />
  <package id="ActiveQueryBuilder.MSSQLMetadataProvider" version="3.5.12.1120" targetFramework="net40" />
  <package id="ActiveQueryBuilder.MySQLMetadataProvider" version="3.5.12.1120" targetFramework="net40" />
  <package id="ActiveQueryBuilder.ODBCMetadataProvider" version="3.5.12.1120" targetFramework="net40" />
  <package id="ActiveQueryBuilder.OLEDBMetadataProvider" version="3.5.12.1120" targetFramework="net40" />
  <package id="ActiveQueryBuilder.DB2MetadataProvider" version="3.5.12.1120" targetFramework="net40" />
  <package id="ActiveQueryBuilder.FirebirdMetadataProvider" version="3.5.12.1120" targetFramework="net40" />
  <package id="ActiveQueryBuilder.SybaseMetadataProvider" version="3.5.12.1120" targetFramework="net40" />
  <package id="ActiveQueryBuilder.VistaDB5MetadataProvider" version="3.5.12.1120" targetFramework="net40" />
  <package id="ActiveQueryBuilder.InformixMetadataProvider" version="3.5.12.1120" targetFramework="net40" />
  <package id="ActiveQueryBuilder.AdvantageMetadataProvider" version="3.5.12.1120" targetFramework="net40" />
  <package id="ActiveQueryBuilder.PostgreSQLMetadataProvider" version="3.5.12.1120" targetFramework="net40" />
  <package id="ActiveQueryBuilder.UniversalMetadataProvider" version="3.5.12.1120" targetFramework="net40" />
  <package id="ActiveQueryBuilder.OracleMetadataProvider" version="3.5.12.1120" targetFramework="net40" />
  <package id="ActiveQueryBuilder.OracleNativeMetadataProvider" version="3.5.12.1120" targetFramework="net40" />
  <package id="ActiveQueryBuilder.View.WinForms" version="3.5.12.1120" targetFramework="net40" />
  <package id="ActiveQueryBuilder.View.WPF" version="3.5.12.1120" targetFramework="net40" />
  <package id="MySql.Data" version="6.7.9" targetFramework="net40" />
  <package id="FirebirdSql.Data.FirebirdClient" version="2.6.5" targetFramework="net40" />
  <package id="Npgsql" version="2.0.11" targetFramework="net40" />
</packages>